body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 34, 85, 0.836);
}

canvas {
    border: 2px solid black;
    border-radius: 10px;
}
