body {
    margin: 0;
    background-color: #020f1b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-container {
    margin: 20px auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

canvas {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
    margin: auto;
}

button {
    background-color: transparent;
    color: #00ca8d;
    border-radius: 0px;
    padding: 10px 30px;
    border: 2px solid tomato;
    left: 100px;
}
