body {
    margin: 0;
    background-color: #020f1b;
    position: relative;
}

canvas {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
    margin: 0;
    padding: 0;
}

button {
    position: absolute;
    background-color: transparent;
    color: #afe4ff;
    border-radius: 0px;
    padding: 10px 30px;
    border: 2px solid #f29f38;
    right: 0px;
    top: 0px;
}
